<mat-card class="upload-card">
  <mat-card-header>
    <div style="width:100%; display:flex; justify-content:center;">
      <mat-card-title style="text-align:center; width:100%; font-size: 1.2rem;">Subir Tesis</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="upload-form">
      <input type="file" (change)="onFileChange($event)" class="file-input" />

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="title" name="title" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Autor</mat-label>
        <input matInput [(ngModel)]="author" name="author" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Año</mat-label>
        <input matInput [(ngModel)]="date" name="date" type="number" min="1900" max="2100" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado de desarrollo</mat-label>
        <input matInput [(ngModel)]="status" name="status" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Breve descripción</mat-label>
        <input matInput [(ngModel)]="description" name="description" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="uploadDocument()">Subir</button>
  </mat-card-actions>
</mat-card>