<mat-card class="upload-card">
  <mat-card-header>
    <div style="width:100%; display:flex; justify-content:space-between; align-items:center;">
      <mat-card-title style="text-align:center; width:100%; font-size: 1.2rem;">Subir Tesis</mat-card-title>
      <button mat-icon-button (click)="toggleMinimize()" aria-label="Minimizar formulario">
        <mat-icon>{{ isMinimized ? 'expand_more' : 'expand_less' }}</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!isMinimized">
    <form class="upload-form">
      <input type="file" (change)="onFileChange($event)" class="file-input" />

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="title" name="title" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Autores</mat-label>
        <input matInput [(ngModel)]="authors" name="authors" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Año</mat-label>
        <input matInput [(ngModel)]="age" name="age" type="number" min="1900" max="2100" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado (Aceptado, Rechazado, Proceso, Incompleto, etc.)</mat-label>
        <input matInput [(ngModel)]="status" name="status" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Metadata, palabras clave</mat-label>
        <input matInput [(ngModel)]="description" name="description" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="!isMinimized">
    <button mat-raised-button color="primary" (click)="uploadDocument()">Subir</button>
  </mat-card-actions>
</mat-card>