<mat-card>
<mat-card-actions>
  <button agregar mat-icon-button (click)="toggleMinimize()" 
  style="margin: auto; width: 50%; font-size: 18px; color:#1976d2">
    Desea agregar nuevos usuarios
  </button>
</mat-card-actions>
  <div class="container" *ngIf="!isMinimized">
    <mat-card class="column" style="flex: 1; ">
      <mat-card-content style="display: flex; flex-direction: column;">
        <!-- Nombre, email y contraseña -->
         <h4>Credenciales del nuevo usuario</h4>
          <mat-form-field appearance="fill" >
            <mat-label>Nombre</mat-label>
            <input matInput name="name" [(ngModel)]="newUser.name" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="newUser.email" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="newUser.password" required>
          </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!-- Rol -->
    <mat-card class="column" style="flex: 1; ">
      <mat-card-content>
         <h4>Selecciona Rol</h4>
        <mat-select name="role" [(ngModel)]="newUser.role" 
        style="background-color: rgb(197, 197, 197); margin: 8px 0; padding: 8px;" required>
          <mat-option value="students">Estudiante</mat-option>
          <mat-option value="professor">Profesor</mat-option>
          <mat-option value="admin">Administrador</mat-option>
        </mat-select>
        <div *ngIf="newUser.role === 'students'" style="margin-top:8px; color:#1976d2;">
          El usuario podrá inscribirse en temas y ver documentos.
        </div>
        <div *ngIf="newUser.role === 'professor'" style="margin-top:8px; color:#388e3c;">
          El usuario podrá crear y gestionar temas, y subir documentos.
        </div>
        <div *ngIf="newUser.role === 'admin'" style="margin-top:8px; color:#d32f2f;">
          El usuario podrá administrar usuarios y gestionar todo el sistema.
        </div>
        <button mat-raised-button color="primary" (click)="createUser()" style="margin: 32px 90px; width: 50%;">
          Agregar usuario
        </button>
      </mat-card-content>
    </mat-card>
    <!-- Especialidades para profesores -->
    <mat-card class="column" style="flex: 1; ">
      <mat-card-content>
        <h4>Fortalezas y especialidades de Profesor</h4>
        <mat-form-field appearance="fill" *ngIf="newUser.role === 'professor'">
          <mat-label>Especialidades</mat-label>
          <textarea matInput name="specialty" [(ngModel)]="newUser.specialty" rows="7"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>


<div class="container" style="display: flex; justify-content: space-between; gap: 20px;">
  <!-- Tarjeta para agregar temas -->
  <mat-card class="column" style="flex: 1; overflow-y: auto; max-height: 85vh;">
    <mat-card-content>
      <topic-list></topic-list>
    </mat-card-content>
  </mat-card>

  <!-- Tarjeta para subir documentos y listar documentos -->
  <mat-card class="column" style="flex: 1; overflow-y: auto; max-height: 85vh;">
    <mat-card-content>
      <app-upload-document></app-upload-document>
      <app-document-list></app-document-list>
    </mat-card-content>
  </mat-card>
</div>