.student-greeting {
  
  font-size: 1.5em;
  margin-bottom: 16px;
  text-align: center;
  color : #000000;
}

.container {
  background-color: rgba(255, 255, 255, 0.25); /* Blanco con 25% opacidad */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  background-color: rgba(255, 255, 255, 0.7); /* Blanco con 25% opacidad */
  flex: 1;
}
