<div class="contenedor">
  <mat-card>
    <mat-card-content>
      <h3>Lista de Temas de Tesis por Profesor</h3>
      <div *ngFor="let professor of professors">
        <!-- Información del Profesor -->
        <mat-card class="professor-card" >
          <mat-card-header>
            <mat-card-title >{{ professor.name }}</mat-card-title>
          <mat-card-subtitle>
            <ng-container *ngFor="let spec of professor.specialty.split(','); let last = last">
              <span style="display: block; margin-left: 60px; font-size: 0.95em; font-weight: normal; ">
                {{ spec.trim() }}
              </span>
            </ng-container>
          </mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <!-- Tabla de Temas de Tesis -->
        <table mat-table [dataSource]="getTopicsByProfessor(professor.name)" class="mat-elevation-z8 thesis-table" >
          <!-- Título Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let topic"> {{ topic.title }} </td>
          </ng-container>

          <!-- Descripción Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let topic"> {{ topic.description }} </td>
          </ng-container>

          <!-- Cupos Column -->
          <ng-container matColumnDef="avaliableSlots">
            <th mat-header-cell *matHeaderCellDef > Cupos </th>
            <td mat-cell *matCellDef="let topic"> {{ topic.avaliableSlots }} </td>
          </ng-container>

          <!-- Inscritos Column -->
          <ng-container matColumnDef="enrollStudent">
            <th mat-header-cell *matHeaderCellDef> Estudiantes Inscritos</th>
            <td mat-cell *matCellDef="let topic" [ngClass]="{'inscrito': isUserEnrolled(topic)}">
                  <strong style="color:#1976d2;">({{ topic.enrolledStudents?.length || 0 }})</strong>
              <ng-container  *ngFor="let student of topic.enrolledStudents; let last = last">
                <div class="student-entry" >
                  <span class="student-email" >{{ student.split(',')[0] }}</span>
                </div>
              <div *ngIf="!last"  class="student-separator">---</div>
            </ng-container>
          </td>
          </ng-container>

          <!-- Botón de Borrar -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let topic">
              <button 
                mat-icon-button
                *ngIf="userRole === 'professor' || userRole === 'admin'"
                (click)="deleteTopic(topic.title)">
                <mat-icon>delete</mat-icon>
              </button>
              <button 
              mat-icon-button
              *ngIf="userRole === 'students'"
              (click)="enrollStudent(topic.title)">
              <mat-icon>person_add</mat-icon>
              </button>
              <button
              mat-icon-button
              *ngIf="userRole === 'students'"
              (click)="unsubscribeStudent(topic.title)">
                <mat-icon>person_remove</mat-icon>
              </button>
              </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="['title', 'description', 'avaliableSlots', 'enrollStudent', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['title', 'description', 'avaliableSlots', 'enrollStudent', 'actions'];"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>