table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: left;
    padding: 8px;
  }
  
  .mat-header-row {
    background-color: #f5f5f5;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }